In [3]:
import pandas as pd

In [4]:
pokemon = pd.read_csv("pokemon.csv")

In [5]:
pokemon.head()

,national_number,gen,english_name,japanese_name,primary_type,secondary_type,classification,percent_male,percent_female,height_m,...,evochain_1,evochain_2,evochain_3,evochain_4,evochain_5,evochain_6,gigantamax,mega_evolution,mega_evolution_alt,description
0,1,I,Bulbasaur,Fushigidane,grass,poison,Seed Pokémon,88.14,11.86,0.7,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,NaN,NaN,NaN,There is a plant seed on its back right from t...
1,2,I,Ivysaur,Fushigisou,grass,poison,Seed Pokémon,88.14,11.86,1.0,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,NaN,NaN,NaN,"When the bulb on its back grows large, it appe..."
2,3,I,Venusaur,Fushigibana,grass,poison,Seed Pokémon,88.14,11.86,2.0,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,Gigantamax Venusaur,Mega Venusaur,NaN,Its plant blooms when it is absorbing solar en...
3,4,I,Charmander,Hitokage,fire,NaN,Lizard Pokémon,88.14,11.86,0.6,...,Level,Charmeleon,Level,Charizard,NaN,NaN,NaN,NaN,NaN,It has a preference for hot things. When it ra...
4,5,I,Charmeleon,Lizardo,fire,NaN,Flame Pokémon,88.14,11.86,1.1,...,Level,Charmeleon,Level,Charizard,NaN,NaN,NaN,NaN,NaN,"It has a barbaric nature. In battle, it whips ..."

In [7]:
type(pokemon)

pandas.core.frame.DataFrame

In [10]:
pokemon["english_name"]

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
893     Regieleki
894     Regidrago
895     Glastrier
896     Spectrier
897       Calyrex
Name: english_name, Length: 898, dtype: object

In [11]:
pokemon["english_name"][897]

'Calyrex'

In [12]:
pokemon.columns

Index(['national_number', 'gen', 'english_name', 'japanese_name',
       'primary_type', 'secondary_type', 'classification', 'percent_male',
       'percent_female', 'height_m', 'weight_kg', 'capture_rate',
       'base_egg_steps', 'hp', 'attack', 'defense', 'sp_attack', 'sp_defense',
       'speed', 'abilities_0', 'abilities_1', 'abilities_2',
       'abilities_hidden', 'against_normal', 'against_fire', 'against_water',
       'against_electric', 'against_grass', 'against_ice', 'against_fighting',
       'against_poison', 'against_ground', 'against_flying', 'against_psychic',
       'against_bug', 'against_rock', 'against_ghost', 'against_dragon',
       'against_dark', 'against_steel', 'against_fairy', 'is_sublegendary',
       'is_legendary', 'is_mythical', 'evochain_0', 'evochain_1', 'evochain_2',
       'evochain_3', 'evochain_4', 'evochain_5', 'evochain_6', 'gigantamax',
       'mega_evolution', 'mega_evolution_alt', 'description'],
      dtype='object')

In [14]:
columns = [
    "english_name",
]
pokemon[columns]

    english_name
0      Bulbasaur
1        Ivysaur
2       Venusaur
3     Charmander
4     Charmeleon
..           ...
893    Regieleki
894    Regidrago
895    Glastrier
896    Spectrier
897      Calyrex

[898 rows x 1 columns]

In [15]:
pokemon["english_name"]

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
893     Regieleki
894     Regidrago
895     Glastrier
896     Spectrier
897       Calyrex
Name: english_name, Length: 898, dtype: object

In [16]:
type(pokemon["english_name"])

pandas.core.series.Series

In [17]:
pokemon.dtypes

national_number         int64
gen                    object
english_name           object
japanese_name          object
primary_type           object
secondary_type         object
classification         object
percent_male           object
percent_female         object
height_m              float64
weight_kg             float64
capture_rate           object
base_egg_steps          int64
hp                      int64
attack                  int64
defense                 int64
sp_attack               int64
sp_defense              int64
speed                   int64
abilities_0            object
abilities_1            object
abilities_2            object
abilities_hidden       object
against_normal        float64
against_fire          float64
against_water         float64
against_electric      float64
against_grass         float64
against_ice           float64
against_fighting      float64
against_poison        float64
against_ground        float64
against_flying        float64
against_psychic       float64
against_bug           float64
against_rock          float64
against_ghost         float64
against_dragon        float64
against_dark          float64
against_steel         float64
against_fairy         float64
is_sublegendary         int64
is_legendary            int64
is_mythical             int64
evochain_0             object
evochain_1             object
evochain_2             object
evochain_3             object
evochain_4             object
evochain_5             object
evochain_6             object
gigantamax             object
mega_evolution         object
mega_evolution_alt     object
description            object
dtype: object

In [18]:
pokemon.head()

,national_number,gen,english_name,japanese_name,primary_type,secondary_type,classification,percent_male,percent_female,height_m,...,evochain_1,evochain_2,evochain_3,evochain_4,evochain_5,evochain_6,gigantamax,mega_evolution,mega_evolution_alt,description
0,1,I,Bulbasaur,Fushigidane,grass,poison,Seed Pokémon,88.14,11.86,0.7,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,NaN,NaN,NaN,There is a plant seed on its back right from t...
1,2,I,Ivysaur,Fushigisou,grass,poison,Seed Pokémon,88.14,11.86,1.0,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,NaN,NaN,NaN,"When the bulb on its back grows large, it appe..."
2,3,I,Venusaur,Fushigibana,grass,poison,Seed Pokémon,88.14,11.86,2.0,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,Gigantamax Venusaur,Mega Venusaur,NaN,Its plant blooms when it is absorbing solar en...
3,4,I,Charmander,Hitokage,fire,NaN,Lizard Pokémon,88.14,11.86,0.6,...,Level,Charmeleon,Level,Charizard,NaN,NaN,NaN,NaN,NaN,It has a preference for hot things. When it ra...
4,5,I,Charmeleon,Lizardo,fire,NaN,Flame Pokémon,88.14,11.86,1.1,...,Level,Charmeleon,Level,Charizard,NaN,NaN,NaN,NaN,NaN,"It has a barbaric nature. In battle, it whips ..."

In [19]:
len(pokemon.columns)

55

In [22]:
columns = [
    "english_name",
    "hp",
    "attack",
    "defense",
    "sp_attack",
    "sp_defense",
    "speed",
    "primary_type",
    "is_sublegendary",
    "is_legendary",
    "is_mythical",
]
pokemon = pokemon[columns]

In [24]:
pokemon  # 898 x 11

,english_name,hp,attack,defense,sp_attack,sp_defense,speed,primary_type,is_sublegendary,is_legendary,is_mythical
0,Bulbasaur,45,49,49,65,65,45,grass,0,0,0
1,Ivysaur,60,62,63,80,80,60,grass,0,0,0
2,Venusaur,80,82,83,100,100,80,grass,0,0,0
3,Charmander,39,52,43,60,50,65,fire,0,0,0
4,Charmeleon,58,64,58,80,65,80,fire,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
893,Regieleki,80,100,50,100,50,200,electric,1,0,0
894,Regidrago,200,100,50,100,50,80,dragon,1,0,0
895,Glastrier,100,145,130,65,110,30,ice,1,0,0
896,Spectrier,100,65,60,145,80,130,ghost,0,0,0
897,Calyrex,100,80,80,80,80,80,psychic,0,0,0

In [25]:
60 > 45

True

# Stats

$$ 2 \times hp + 110$$

In [27]:
2 * pokemon["hp"][0] + 110

200

In [33]:
2 * pokemon["hp"] + 110  # broadcasting

0      200
1      230
2      270
3      188
4      226
      ...
893    270
894    510
895    310
896    310
897    310
Name: hp, Length: 898, dtype: int64

# 6 stats

# hp, attack, defense, sp_attack, sp_defense, speed

$$ 2 \times stat + 5 $$

In [34]:
2 * pokemon["speed"] + 5

0       95
1      125
2      165
3      135
4      165
      ...
893    405
894    165
895     65
896    265
897    165
Name: speed, Length: 898, dtype: int64

In [36]:
stats = [
    "hp",
    "attack",
    "defense",
    "sp_attack",
    "sp_defense",
    "speed",
]

In [38]:
2 * pokemon[stats[1:]] + 5

     attack  defense  sp_attack  sp_defense  speed
0       103      103        135         135     95
1       129      131        165         165    125
2       169      171        205         205    165
3       109       91        125         105    135
4       133      121        165         135    165
..      ...      ...        ...         ...    ...
893     205      105        205         105    405
894     205      105        205         105    165
895     295      265        135         225     65
896     135      125        295         165    265
897     165      165        165         165    165

[898 rows x 5 columns]

In [41]:
%%time
for row in range(898):
    2 * pokemon["hp"][row] + 110

CPU times: user 9.56 ms, sys: 345 µs, total: 9.91 ms
Wall time: 10 ms

In [42]:
%%time
2 * pokemon["hp"] + 110

CPU times: user 1.16 ms, sys: 70 µs, total: 1.23 ms
Wall time: 1.24 ms

0      200
1      230
2      270
3      188
4      226
      ...
893    270
894    510
895    310
896    310
897    310
Name: hp, Length: 898, dtype: int64

In [43]:
stats

['hp', 'attack', 'defense', 'sp_attack', 'sp_defense', 'speed']

In [44]:
(110, 5, 5, 5, 5, 5)

(110, 5, 5, 5, 5, 5)

In [47]:
2 * pokemon[stats] + (110, 5, 5, 5, 5, 5)

      hp  attack  defense  sp_attack  sp_defense  speed
0    200     103      103        330         135     95
1    230     129      131        360         165    125
2    270     169      171        400         205    165
3    188     109       91        320         105    135
4    226     133      121        360         135    165
..   ...     ...      ...        ...         ...    ...
893  270     205      105        400         105    405
894  510     205      105        400         105    165
895  310     295      265        330         225     65
896  310     135      125        490         165    265
897  310     165      165        360         165    165

[898 rows x 6 columns]

In [59]:
pokemon.assign(
    attack_final = 2 * pokemon["hp"] + 5,
)

,english_name,hp,attack,defense,sp_attack,sp_defense,speed,primary_type,is_sublegendary,is_legendary,is_mythical,attack_final
0,Bulbasaur,45,49,49,65,65,45,grass,0,0,0,95
1,Ivysaur,60,62,63,80,80,60,grass,0,0,0,125
2,Venusaur,80,82,83,100,100,80,grass,0,0,0,165
3,Charmander,39,52,43,60,50,65,fire,0,0,0,83
4,Charmeleon,58,64,58,80,65,80,fire,0,0,0,121
...,...,...,...,...,...,...,...,...,...,...,...,...
893,Regieleki,80,100,50,100,50,200,electric,1,0,0,165
894,Regidrago,200,100,50,100,50,80,dragon,1,0,0,405
895,Glastrier,100,145,130,65,110,30,ice,1,0,0,205
896,Spectrier,100,65,60,145,80,130,ghost,0,0,0,205
897,Calyrex,100,80,80,80,80,80,psychic,0,0,0,205

In [61]:
pokemon.assign(
    hp_final = 2 * pokemon["hp"] + 110,
    attack_final = 2 * pokemon["attack"] + 5,
)

,english_name,hp,attack,defense,sp_attack,sp_defense,speed,primary_type,is_sublegendary,is_legendary,is_mythical,hp_final,attack_final
0,Bulbasaur,45,49,49,65,65,45,grass,0,0,0,200,103
1,Ivysaur,60,62,63,80,80,60,grass,0,0,0,230,129
2,Venusaur,80,82,83,100,100,80,grass,0,0,0,270,169
3,Charmander,39,52,43,60,50,65,fire,0,0,0,188,109
4,Charmeleon,58,64,58,80,65,80,fire,0,0,0,226,133
...,...,...,...,...,...,...,...,...,...,...,...,...,...
893,Regieleki,80,100,50,100,50,200,electric,1,0,0,270,205
894,Regidrago,200,100,50,100,50,80,dragon,1,0,0,510,205
895,Glastrier,100,145,130,65,110,30,ice,1,0,0,310,295
896,Spectrier,100,65,60,145,80,130,ghost,0,0,0,310,135
897,Calyrex,100,80,80,80,80,80,psychic,0,0,0,310,165

In [71]:
pokemon = pokemon.join(
    2 * pokemon[stats] + (110, 5, 5, 5, 5, 5),
    rsuffix = "_final",
)

In [74]:
pokemon["hp"] + pokemon["attack"]

0       94
1      122
2      162
3       91
4      122
      ...
893    180
894    300
895    245
896    165
897    180
Length: 898, dtype: int64

In [75]:
pokemon["hp"].mean()

69.03118040089088

In [76]:
pokemon["hp"].sum()

61990

In [77]:
pokemon[stats].sum()

hp            61990
attack        68737
defense       64554
sp_attack     62574
sp_defense    62749
speed         59223
dtype: int64

In [84]:
pokemon[stats].sum(axis=1)

0      318
1      405
2      525
3      309
4      405
      ...
893    580
894    580
895    580
896    580
897    500
Length: 898, dtype: int64

In [87]:
pokemon.head(3)

,english_name,hp,attack,defense,sp_attack,sp_defense,speed,primary_type,is_sublegendary,is_legendary,is_mythical,hp_final,attack_final,defense_final,sp_attack_final,sp_defense_final,speed_final
0,Bulbasaur,45,49,49,65,65,45,grass,0,0,0,200,103,103,135,135,95
1,Ivysaur,60,62,63,80,80,60,grass,0,0,0,230,129,131,165,165,125
2,Venusaur,80,82,83,100,100,80,grass,0,0,0,270,169,171,205,205,165

In [90]:
pokemon = pokemon.assign(
    total = pokemon[stats].sum(axis=1)
)
pokemon

,english_name,hp,attack,defense,sp_attack,sp_defense,speed,primary_type,is_sublegendary,is_legendary,is_mythical,hp_final,attack_final,defense_final,sp_attack_final,sp_defense_final,speed_final,total
0,Bulbasaur,45,49,49,65,65,45,grass,0,0,0,200,103,103,135,135,95,318
1,Ivysaur,60,62,63,80,80,60,grass,0,0,0,230,129,131,165,165,125,405
2,Venusaur,80,82,83,100,100,80,grass,0,0,0,270,169,171,205,205,165,525
3,Charmander,39,52,43,60,50,65,fire,0,0,0,188,109,91,125,105,135,309
4,Charmeleon,58,64,58,80,65,80,fire,0,0,0,226,133,121,165,135,165,405
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
893,Regieleki,80,100,50,100,50,200,electric,1,0,0,270,205,105,205,105,405,580
894,Regidrago,200,100,50,100,50,80,dragon,1,0,0,510,205,105,205,105,165,580
895,Glastrier,100,145,130,65,110,30,ice,1,0,0,310,295,265,135,225,65,580
896,Spectrier,100,65,60,145,80,130,ghost,0,0,0,310,135,125,295,165,265,580
897,Calyrex,100,80,80,80,80,80,psychic,0,0,0,310,165,165,165,165,165,500

In [91]:
pokemon.columns

Index(['english_name', 'hp', 'attack', 'defense', 'sp_attack', 'sp_defense',
       'speed', 'primary_type', 'is_sublegendary', 'is_legendary',
       'is_mythical', 'hp_final', 'attack_final', 'defense_final',
       'sp_attack_final', 'sp_defense_final', 'speed_final', 'total'],
      dtype='object')

In [92]:
pokemon["is_mythical"]

0      0
1      0
2      0
3      0
4      0
      ..
893    0
894    0
895    0
896    0
897    0
Name: is_mythical, Length: 898, dtype: int64

In [93]:
pokemon["is_mythical"].nunique()

2

In [94]:
pokemon["is_mythical"].unique()

array([0, 1])

In [95]:
pokemon["is_mythical"].astype("bool")

0      False
1      False
2      False
3      False
4      False
       ...
893    False
894    False
895    False
896    False
897    False
Name: is_mythical, Length: 898, dtype: bool

In [97]:
pokemon = pokemon.astype(
    {
        "is_mythical": "bool",
        "is_legendary": "bool",
        "is_sublegendary": "bool",
    }
)

In [100]:
pokemon["is_mythical"] | pokemon["is_legendary"] | pokemon["is_sublegendary"]

0      False
1      False
2      False
3      False
4      False
       ...
893     True
894     True
895     True
896    False
897    False
Length: 898, dtype: bool

In [103]:
pokemon = pokemon.assign(
    legendary = pokemon[ ["is_mythical", "is_legendary", "is_sublegendary"] ].any(axis=1)
)

In [104]:
pokemon["legendary"].sum()

85

In [105]:
pokemon["legendary"].mean()

0.09465478841870824

In [106]:
pokemon[ pokemon["legendary"] ]

,english_name,hp,attack,defense,sp_attack,sp_defense,speed,primary_type,is_sublegendary,is_legendary,is_mythical,hp_final,attack_final,defense_final,sp_attack_final,sp_defense_final,speed_final,total,legendary
143,Articuno,90,85,100,95,125,85,ice,True,False,False,290,175,205,195,255,175,580,True
144,Zapdos,90,90,85,125,90,100,electric,True,False,False,290,185,175,255,185,205,580,True
145,Moltres,90,100,90,125,85,90,fire,True,False,False,290,205,185,255,175,185,580,True
149,Mewtwo,106,110,90,154,90,130,psychic,False,True,False,322,225,185,313,185,265,680,True
150,Mew,100,100,100,100,100,100,psychic,False,False,True,310,205,205,205,205,205,600,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
890,Kubfu,60,90,60,53,50,72,fighting,True,False,False,230,185,125,111,105,149,385,True
891,Urshifu,100,130,100,63,60,97,fighting,True,False,False,310,265,205,131,125,199,550,True
893,Regieleki,80,100,50,100,50,200,electric,True,False,False,270,205,105,205,105,405,580,True
894,Regidrago,200,100,50,100,50,80,dragon,True,False,False,510,205,105,205,105,165,580,True
895,Glastrier,100,145,130,65,110,30,ice,True,False,False,310,295,265,135,225,65,580,True

In [107]:
pokemon[ pokemon["total"] > 600 ]

,english_name,hp,attack,defense,sp_attack,sp_defense,speed,primary_type,is_sublegendary,is_legendary,is_mythical,hp_final,attack_final,defense_final,sp_attack_final,sp_defense_final,speed_final,total,legendary
149,Mewtwo,106,110,90,154,90,130,psychic,False,True,False,322,225,185,313,185,265,680,True
248,Lugia,106,90,130,90,154,110,psychic,False,True,False,322,185,265,185,313,225,680,True
249,Ho-Oh,106,130,90,110,154,90,fire,False,True,False,322,265,185,225,313,185,680,True
288,Slaking,150,160,100,95,65,100,normal,False,False,False,410,325,205,195,135,205,670,False
381,Kyogre,100,100,90,150,140,90,water,False,True,False,310,205,185,305,285,185,670,True
382,Groudon,100,150,140,100,90,90,ground,False,True,False,310,305,285,205,185,185,670,True
383,Rayquaza,105,150,90,150,90,95,dragon,False,True,False,320,305,185,305,185,195,680,True
482,Dialga,100,120,120,150,100,90,steel,False,True,False,310,245,245,305,205,185,680,True
483,Palkia,90,120,100,150,120,100,water,False,True,False,290,245,205,305,245,205,680,True
485,Regigigas,110,160,110,80,110,100,normal,True,False,False,330,325,225,165,225,205,670,True
486,Giratina,150,100,120,100,120,90,ghost,False,True,False,410,205,245,205,245,185,680,True
492,Arceus,120,120,120,120,120,120,normal,False,False,True,350,245,245,245,245,245,720,True
642,Reshiram,100,120,100,150,120,90,dragon,False,True,False,310,245,205,305,245,185,680,True
643,Zekrom,100,150,120,120,100,90,dragon,False,True,False,310,305,245,245,205,185,680,True
645,Kyurem,125,130,90,130,90,95,dragon,False,True,False,360,265,185,265,185,195,660,True
715,Xerneas,126,131,95,131,98,99,fairy,False,True,False,362,267,195,267,201,203,680,True
716,Yveltal,126,131,95,131,98,99,dark,False,True,False,362,267,195,267,201,203,680,True
790,Solgaleo,137,137,107,113,89,97,psychic,False,True,False,384,279,219,231,183,199,680,True
791,Lunala,137,113,89,137,107,97,psychic,False,True,False,384,231,183,279,219,199,680,True
887,Zacian,92,130,115,80,115,138,fairy,False,False,False,294,265,235,165,235,281,670,False
888,Zamazenta,92,130,115,80,115,138,fighting,False,False,False,294,265,235,165,235,281,670,False
889,Eternatus,140,85,95,145,95,130,poison,False,False,False,390,175,195,295,195,265,690,False

# | or
# & and
# ~ not

In [110]:
pokemon[ ~pokemon["legendary"] ]

,english_name,hp,attack,defense,sp_attack,sp_defense,speed,primary_type,is_sublegendary,is_legendary,is_mythical,hp_final,attack_final,defense_final,sp_attack_final,sp_defense_final,speed_final,total,legendary
0,Bulbasaur,45,49,49,65,65,45,grass,False,False,False,200,103,103,135,135,95,318,False
1,Ivysaur,60,62,63,80,80,60,grass,False,False,False,230,129,131,165,165,125,405,False
2,Venusaur,80,82,83,100,100,80,grass,False,False,False,270,169,171,205,205,165,525,False
3,Charmander,39,52,43,60,50,65,fire,False,False,False,188,109,91,125,105,135,309,False
4,Charmeleon,58,64,58,80,65,80,fire,False,False,False,226,133,121,165,135,165,405,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
888,Zamazenta,92,130,115,80,115,138,fighting,False,False,False,294,265,235,165,235,281,670,False
889,Eternatus,140,85,95,145,95,130,poison,False,False,False,390,175,195,295,195,265,690,False
892,Zarude,105,120,105,70,95,105,dark,False,False,False,320,245,215,145,195,215,600,False
896,Spectrier,100,65,60,145,80,130,ghost,False,False,False,310,135,125,295,165,265,580,False
897,Calyrex,100,80,80,80,80,80,psychic,False,False,False,310,165,165,165,165,165,500,False

In [112]:
pokemon.dtypes

english_name        object
hp                   int64
attack               int64
defense              int64
sp_attack            int64
sp_defense           int64
speed                int64
primary_type        object
is_sublegendary       bool
is_legendary          bool
is_mythical           bool
hp_final             int64
attack_final         int64
defense_final        int64
sp_attack_final      int64
sp_defense_final     int64
speed_final          int64
total                int64
legendary             bool
dtype: object

In [ ]:
pokemon["primary_type"].n